body{
    height: 100%;
    background: linear-gradient(to bottom, #009688 15%, #d9dbd4 0%);
    background-repeat: no-repeat;
    font-family: 'IBM Plex Sans', sans-serif;
}

.ms_container{
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    /* max-width: 1400px !important; */
}

.border_dx{
    border-right: 1px solid lightgrey;
}

.search{
    width: 77%;
    height: 95%;
    border: none;
    padding: 5px;
}

label{
    color: #d9dbd4;
    background-color: white;
    margin: 10px;
}

.main{
    background-image: url('img/mine.jpg');
    height: 750px;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
 
}

.main::-webkit-scrollbar {
    display: none;
}

.main::after{
    content: '';
    display: table;
    clear: both;
}

.emoticon_box{
    width: 40%;
    height: 20%;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.emoticon_box::-webkit-scrollbar {
    display: none;
}

.message{
    border: none;
    width: 100%;
    border-radius: 5px;
    height: 50px;
}

.box{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.box img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.notify{
    background-color: #f2fbff;
    color: #8edafc;
    font-size: 1.5rem;
}

.chat{
    border-bottom: 1px solid lightgray;
}

.chat:hover{
    background-color: lightgray;
}

.nameChat{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nameChat h6{
    padding-top: 15px;
}

.messages{
    padding: 10px 60px 10px 10px;
    font-size: .8rem;
    max-width: 200px;
    margin-top: 15px;
    margin-left: 90px;
    border-radius: 5px;
    position: relative;
    clear: both;
}

.inviato{
    float: right;
     background-color: #ddf8c6;
     margin-right: 90px;
}

.ricevuto{
    float: left;
     background-color: #fff;
}

.hour{
    color: gray;
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.close{
    color: gray;
    font-size: .8rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

.drop_down{
    width: 100px;
    font-size: .6rem;
}

.listContact{
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listContact::-webkit-scrollbar {
    display: none;
}

/* common */
.bg_ltgrey{
    background-color: #eaeaea ;
}

.bg_ltblue{
    background-color: #8edafc;
}

.bg_white{
    background-color: #fff;
}

.bg_fafa{
    background-color: #fafafa;
}

.bg_green{
    background-color: #ddf8c6;
}

.my_icons{
    font-size: 1.3rem;
    color: #6b7376;
}

.icons_header{
    margin: 8px;
    color: #b1b1b1;
    font-size: 1.3rem;
}

.sm-bold{
    font-weight: 700;
    font-size: .96rem;
}

/* debug */
.debug{
    border: 2px solid blue;
}

.h70p{
    height: 70px;
}

.h50p{
    height: 50px;
}

.h650{
    height: 650px;
}

.h100{
    height: 100%;
}

.hmain{
    height: calc(100% - 140px);
}


